nav {
  margin-top: 20px;
}

h1 {
  color: #00277e;
  display: inline;
  margin: 0 15px;
}

ul {
  display: flex;
  justify-content: flex-end;
}

li {
  margin: -50px 16px 0;
  list-style: none;
  color: #00277e;
  font-size: 16px;
}

a {
  color: #00277e;
  font-weight: bold;
  text-decoration: none;
}

.relactive {
  position: relative;
  margin: 100px 0 160px;
}

.img {
  position: relative;
  display: block;
  width: 50%;
  margin: 0 0 0 auto;
}

.coment {
  position: absolute;
  margin-top: -80px;
  font-size: 70px;
}

.line__border {
  position: absolute;
  top: 75%;
  width: 75%;
  height: 50%;
  background: #00277e;
}
